<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admissions - Polytechnic English School</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

  <header>
    <h1>Polytechno English School</h1>
    <p>Admissions Open for 2025-2026</p>
  </header>

  <nav>
    <a href="/">Home</a>
    <a href="/about">About Us</a>
    <a href="#" class="active">Admissions</a>
    <a href="/academics">Academics</a>
    <a href="/contact">Contact</a>
  </nav>

  <section class="container">
    <h2 class="section-title">Admission Process</h2>
    <ol class="section-content">
      <li>Fill out the application form (online or offline).</li>
      <li>Submit required documents (birth certificate, previous school report, etc.).</li>
      <li>Attend an interaction/interview session (for certain grades).</li>
      <li>Receive admission confirmation and pay the initial fee.</li>
    </ol>
  </section>

  <section class="container">
    <h2 class="section-title">Fee Structure (2025-26)</h2>
  <ul class="section-content">
    <li><strong>Nursery to KG:</strong> ₹1,000 per month</li>
    <li><strong>Classes 1 to 5:</strong> ₹1,200 per month</li>
    <li><strong>Classes 6 to 10:</strong> ₹1,500 per month</li>
  </ul>
  <p><strong>note*:-</strong> Transportation and optional activities charged separately</p>
  </section>

  <section class="container">
    <h2 class="section-title">Important Dates</h2>
  <ul class="section-content">
    <li><strong>Application Opens:</strong> 1st July 2025</li>
    <li><strong>Last Date to Apply:</strong> 20th August 2025</li>
    <li><strong>Entrance Tests/Interviews:</strong> 1st to 5th September 2025</li>
  </ul>
  </section>

  <div class="form-section container">
    <h2 class ="section-title">Admission Inquiry Form</h2>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div style="color: rgb(37, 9, 9); font-weight: bold;">
      {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}

    <form method="POST" action="/admission" class="form">
      <label for="name">Full Name:</label>
      <input type="text" placeholder="Enter Your Name" id="name" name="name" required>

      <label for="email">Email Address:</label>
      <input type="email" id="email" placeholder="Enter Email" name="email" required>

      <label for="phone">Phone Number:</label>
      <input type="tel" placeholder="Enter Phone Number" id="phone" name="phone" required>

      <label for="message">Your Message :</label>
      <textarea id="message" placeholder="Type Your Query" name="message" rows="4"></textarea>

      <button type="submit">Submit Query</button>
    </form>
  </div>
  </div>

  <footer>
    <p>© 2025 Polytechnic English School. All Rights Reserved.</p>
    <p>Email: admin@pes.com | Phone: +91-9876543210</p>
  </footer>

</body>

</html>